@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  min-width: 350px;
  min-height: 100vh;
}

.filter{
  position: relative;
  width: 50px;
  height: 50px;
  appearance: none;
  -webkit-appearance: none;
  background-color: #ffffff;
  border-radius: 50px;
  cursor: pointer;
}

.filter:checked{
  background-color: aqua;
}

.recipe{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*hover effect*/
.card-image img{
  transition: all 0.5s linear;
}
.card-image img:hover{
  transform: scale(1.1);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
}
